In [1]:
import pandas as pd
import numpy as np

First Step: PreProcess the Data
1. We want all rows to represent one observation or one instance (e.x. data for one county in one year). We also want all columns to represent one feature, which is one type of information about the observation. For this, we used pivot_wide property of pandas in the AllData.ipynb file. 
2. Non-Numeric to Numeric Conversion: Columns that were previously objects (because of "N/A" strings) are now showing as float64, which means they have been succesfully converted to numeric. THis is important for numerical analysis and understanding. 
3. Handling Missing Values: The missing values are now represented NaN (Not a Number), which will be handled appropriately by Pandas and the ML libraries
4. Data Summary using describe() to show column statistics, .dtypes() to confirm that all columns are of the correct data type, and nunique() to make sure each column's data has been succesfully read

In [3]:

values_data = pd.read_csv("pivot_wide_format_data.csv")

#Replace all NaN values with "N/A"
values_data.fillna("N/A", inplace=True)

values_data.replace("N/A", np.nan, inplace=True)

# List of column pairs to merge
column_pairs = [
    ('Child Mortality Rate (White)', 'Child Mortality Rate (white)'),
    ('Drug Overdose Mortality Rate (White)', 'Drug Overdose Mortality Rate (white)'),
    ('Firearm Fatalities Rate (White)', 'Firearm Fatalities Rate (white)'),
    ('Homicide Rate (White)', 'Homicide Rate (white)'),
    ('Infant Mortality Rate (White)', 'Infant Mortality Rate (white)'),
    ('Injury Death Rate (White)', 'Injury Death Rate (white)'),
    ('MV Mortality Rate (White)', 'MV Mortality Rate (white)'),
    ('Suicide Rate (White)', 'Suicide Rate (white)'),
    ('Teen Birth Rate (White)', 'Teen Birth Rate (white)'),
    ('YPLL Rate (White)', 'YPLL Rate (white)'),
    ('Preventable Hospitalization Rate', 'Preventable Hosp. Rate')
]

for pair in column_pairs:
    column1, column2 = pair
    # Combine the columns and prioritize the non-null values in the first column
    values_data[column1] = values_data[column1].combine_first(values_data[column2])
    # Drop the second column as its data has been merged
    values_data.drop(column2, axis=1, inplace=True)

#Convert object columns that should be numeric to float
for column in values_data.columns:
    if values_data[column].dtype == "object" and column not in ["County", "Year"]:
        values_data[column] = pd.to_numeric(values_data[column], errors="coerce")
values_data.to_csv("pivot_wide_format_data_cleaned.csv", index=False)

/var/folders/dr/13q6jns56rldkk1nfqpc25240000gn/T/ipykernel_14308/3830620394.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'N/A' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  values_data.fillna("N/A", inplace=True)

In [4]:
print(values_data.head())

print(values_data.dtypes)

print(values_data.describe())

print(values_data.nunique())

    County  Year  % Adults with Obesity  % Children in Poverty  \
0  Appling  2011                    NaN                   31.3
1  Appling  2012                    NaN                   35.7
2  Appling  2013                    NaN                   34.0
3  Appling  2014                    NaN                   34.8
4  Appling  2015                    NaN                   40.3

   % Excessive Drinking  % Smokers  % Unemployed  % Uninsured  ACSC Rate  \
0                  13.2       23.0           NaN    24.600000        NaN
1                  11.0       20.2     10.700000    23.700000        NaN
2                   9.6       24.8     11.000000    24.900000        NaN
3                   NaN       27.8     10.317788    25.189603        NaN
4                   NaN       27.8     10.023661    24.231524        NaN

   Age-Adjusted Death Rate  ...  Teen Birth Rate (Black)  \
0                      NaN  ...                      NaN
1                      NaN  ...                      NaN
2                      NaN  ...                      NaN
3                      NaN  ...                      NaN
4                      NaN  ...                      NaN

   Teen Birth Rate (Hispanic)  Teen Birth Rate (White)  Violent Crime Rate  \
0                         NaN                      NaN                 NaN
1                         NaN                      NaN                 NaN
2                         NaN                      NaN                 NaN
3                         NaN                      NaN          211.084650
4                         NaN                      NaN          186.018925

   YPLL Rate  YPLL Rate (Asian)  YPLL Rate (Black)  YPLL Rate (Hispanic)  \
0        NaN                NaN                NaN                   NaN
1        NaN                NaN                NaN                   NaN
2        NaN                NaN                NaN                   NaN
3        NaN                NaN                NaN                   NaN
4        NaN                NaN                NaN                   NaN

   YPLL Rate (White)  Years of Potential Life Lost Rate
0                NaN                                NaN
1                NaN                                NaN
2                NaN                                NaN
3                NaN                                NaN
4                NaN                                NaN

[5 rows x 77 columns]
County                                object
Year                                   int64
% Adults with Obesity                float64
% Children in Poverty                float64
% Excessive Drinking                 float64
                                      ...
YPLL Rate (Asian)                    float64
YPLL Rate (Black)                    float64
YPLL Rate (Hispanic)                 float64
YPLL Rate (White)                    float64
Years of Potential Life Lost Rate    float64
Length: 77, dtype: object
              Year  % Adults with Obesity  % Children in Poverty  \
count  2067.000000             636.000000            2067.000000
mean   2017.000000              36.049057              29.851766
std       3.742563               5.248488               9.582388
min    2011.000000              12.500000               5.100000
25%    2014.000000              32.800000              23.000000
50%    2017.000000              36.500000              30.700000
75%    2020.000000              39.325000              36.700000
max    2023.000000              57.700000              58.300000

       % Excessive Drinking    % Smokers  % Unemployed  % Uninsured  \
count           1757.000000  1815.000000   1908.000000  2067.000000
mean              14.380829    20.258496      7.147058    19.392455
std                3.360116     3.939306      2.999631     3.988761
min                0.600000     8.800000      2.183880     9.448764
25%               13.100000    17.767734      4.765094    16.519801
50%               15.000000    20.003200      6.563289    19.164107
75%               16.511896    22.800000      9.200849    22.002774
max               30.000000    44.100000     22.400000    42.800000

        ACSC Rate  Age-Adjusted Death Rate  \
count  604.000000               474.000000
mean    83.423163               478.191478
std     27.965956               102.900743
min     34.174701               202.727836
25%     63.424048               407.465097
50%     78.299750               484.242066
75%     95.206250               551.761371
max    199.671400               921.354412

       Age-Adjusted Death Rate-All Opioids  ...  Teen Birth Rate (Black)  \
count                           977.000000  ...               504.000000
mean                              7.962231  ...                37.113393
std                              10.503697  ...                15.122415
min                               0.000000  ...                 4.967710
25%                               0.000000  ...                24.971702
50%                               4.200000  ...                37.478568
75%                              13.300000  ...                47.936292
max                              75.900000  ...                71.875000

       Teen Birth Rate (Hispanic)  Teen Birth Rate (White)  \
count                  339.000000               535.000000
mean                    43.189480                29.925010
std                     18.546754                13.413669
min                      8.165646                 2.271994
25%                     30.330145                21.135580
50%                     40.358744                29.995162
75%                     54.945055                37.632854
max                    102.167183                77.868852

       Violent Crime Rate     YPLL Rate  YPLL Rate (Asian)  YPLL Rate (Black)  \
count         1649.000000    628.000000          31.000000         418.000000
mean           320.912799   9468.093949        3273.591468       11879.087833
std            206.292786   2107.320965        1118.559191        3292.180967
min              0.000000   4052.150000        1422.108274        4697.512123
25%            174.153255   8036.300000        2222.407884        9892.326727
50%            283.493370   9419.750000        3502.760653       12058.909341
75%            419.121521  10692.652500        3859.518315       13675.115736
max           1717.731948  19239.540000        5418.072895       30826.377168

       YPLL Rate (Hispanic)  YPLL Rate (White)  \
count            100.000000         419.000000
mean            4335.243629        9454.111235
std             1202.085483        2328.574740
min             2217.112850        3969.567492
25%             3540.666660        7960.610588
50%             4275.919147        9532.983337
75%             5105.368938       10988.655870
max             8129.168394       18903.980792

       Years of Potential Life Lost Rate
count                        1389.000000
mean                         9290.782779
std                          2025.812242
min                          3832.623844
25%                          7927.750812
50%                          9292.392122
75%                         10659.150000
max                         19590.008352

[8 rows x 76 columns]
County                                159
Year                                   13
% Adults with Obesity                 206
% Children in Poverty                 423
% Excessive Drinking                 1114
                                     ...
YPLL Rate (Asian)                      22
YPLL Rate (Black)                     309
YPLL Rate (Hispanic)                   71
YPLL Rate (White)                     310
Years of Potential Life Lost Rate    1237
Length: 77, dtype: int64

Second Step: Data Scaling
Scale the numerical data to ensure that all features contribute equally to the distance calculation in the clustering algorithm. Without scaling, features with larger ranges could influence the model more than features with smaller ranges. Scaling prevents this by ensuring that each feature has a similar influence on the model. 

For K-Means Clustering, we will be using standardization (Z-Score normalization) since K-Means is a distance-based algorithm and standardization maintains the effect of outliers in the data. In standardization, the features are rescaled so that they have properties of a standard normal distribution with a mean of 0 and standard deviation from the mean of 1. Standardization can be calculated as X - mean / (standard deviations from mean). In Pandas, we will use 'StandardScaler' from the 'sklearn.preprocessing' library

Some other data scaling techniques include min-max scaling (getting all values between given range) and robust scaling (uses the median and interquartile range or IQR so its robust to outliers)